<%- include('partials/header') -%>

<h1>Home</h1>
<% function truncate(str, maxlength) {    return (str.length > maxlength) ?   str.slice(0, maxlength - 1) + '…' : str;   } %>
<p> <%= homeFirstContent %> </p>

<% compose.forEach(function(posts){ %>
    <div class="item">
        <h1><%= posts.title %></h1>
        
        <p><%= truncate(posts.text, 100) %>
             <a href="/posts/<%=posts._id%>">Read more</a>
             </p>
    </div>
<%})  %>
    

<form action="/compose" method="get">
    <button type="submit" class="btn btn-primary">Compose</button>
</form>
<%- include('partials/footer') -%>

